// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #007BFF;
$secondary : #002B5B;
$accent    : #00C2CB;

$dark      : #1D1D1D;
$dark-page : #121212;
$text-primary: 	#2E2E2E;
$text-secondary: #6C757D;
$background: #eee;
$background-secondary: #eee;

$positive  : #28A745;
$negative  : #DC3545;
$info      : #007BFF;
$warning   : #FFC107;
